# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

node_modules
dist-ssr
*.local
.vite

packages/hooks/es
packages/hooks/lib

packages/utils/es
packages/utils/lib

packages/icons/es
packages/icons/lib

packages/typings/es
packages/typings/lib

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# UI
sketch

# Others
cache
