@import '../mixn/index.less';
@plugin "../plugin/index";

.@{componentPrefix}-circle {
	&{
		--vc-color-default:rgba(0,0,0,0.1);
	}
	//base
	& {
		width: 100%;
		height: 100%;
		position: relative;
		&-text {
			position: absolute;
			left: 50%;
			top: 50%;
			transform: translate(-50%, -50%);
			font-size: 20px;
			line-height: 1;
			text-align: center;
		}
	}
}

.dark{
	.vc-circle{
		--vc-color-default:rgba(255,255,255,0.1);
	}
}