@import '../mixn/index.less';
@plugin "../plugin/index";

@statusList: primary,success, warning,danger;

.@{componentPrefix}-progress {
	&{
		--vc-progress-bg:var(--vc-divider-color);
	}
	//base
	& {
		width: 100%;
		display: flex;
		justify-content: center;
		align-items: center;
		&-bg {
			background:var(--vc-progress-bg);
			flex: 1;
		}
		each(@statusList, .(@status) {
			.bIs(bar,@status,{
				background-color: getClrVar(@status);
			});
		});
		&-text {
			margin-left: 10px;
			font-size: 12px;
			line-height: 1.2;
		}
	}
}
